{% extends "layout.html" %}
{% block body %}
    <div class="row spin-container">
        <h3><img src="{{ url_for('static', filename='img/spinner.gif') }}" class="img-rounded" alt="spinner" width="32" height="32"> Your videos are being processed, Please wait...</h3>
    </div>
    <div class="row download-link hidden">
    </div>
{% endblock %}
{% block custom_scripts %}
    <script type="application/javascript">
        $('document').ready(function () {
            var custom_uuid = "{{ custom_uuid }}";
            $.ajax({
                type: "post",
                url: "{{ url_for('process_file') }}",
                data: {'custom_uuid': custom_uuid},
                success: function (res) {
                    if (res['success']) {
                        $('.alert').addClass('alert-success');
                        $('.alert').html(res['msg']);
                        res['links'].forEach(function(link){
                            $('.download-link').append('<a href="/download?fname='+link+'&custom_uuid='+ custom_uuid +'">Download ('+link+')</a><br/>');
                        });
                        $('.download-link').append('<a href="/download_zip?custom_uuid='+ custom_uuid +'">Download All as Zip</a>')
                        $('.download-link').removeClass('hidden');
                        $('.spin-container').addClass('hidden');

                    } else {
                        $('.alert').addClass('alert-danger');
                        $('.alert').html(res['msg']);
                        setTimeout(function () {
                            window.location.href = '/';
                        }, 2000);
                    }
                },
                error: function (err) {
                    alert('UNKNOWN ERROR, Please retry...');
                    setTimeout(function () {
                        window.location.href = '/';
                    }, 2000);
                }
            })
        });
    </script>
{% endblock %}