{% extends "layout.html" %}
{% block addition_css %}
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
    <div class="row spin-container">
        <h3><i class="fa fa-spinner spinning"></i> Your videos are being processed, Please wait...</h3>
    </div>
    <div class="row download-link hidden">
    </div>
{% endblock %}
{% block custom_scripts %}
    <script type="application/javascript">
        $('document').ready(function () {
            var custom_uuid = "{{ custom_uuid }}";
            $.ajax({
                type: "post",
                url: "{{ url_for('process_file') }}",
                data: {'custom_uuid': custom_uuid},
                success: function (res) {
                    if (res['success']) {
                        alert(res['msg']);
                        res['links'].forEach(function(link){
                            $('.download-link').append('<a href="'+link+'">Download</a>');
                        });
                        $('.download-link').removeClass('hidden');
                        $('.spin-container').addClass('hidden');

                    } else {
                        alert(res['msg']);
                        setTimeout(function () {
                            window.location.href = '/';
                        }, 2000);
                    }
                },
                error: function (err) {
                    alert('UNKNOWN ERROR, Please retry...');
                    setTimeout(function () {
                        window.location.href = '/';
                    }, 2000);
                }
            })
        });
    </script>
{% endblock %}